/* Style the card container */
.planetcard {
    width: 900px; 
    border: 1px solid #800080;
    border-radius: 16px;
    overflow: hidden; 
    background-color: #008080;
  }
  
 
  .planetimg {
    width: 100%;
    height: auto;
    display: block;
  }
  